<div class="col-lg-10">
    <h3>{{title}}</h3>
    <form #formAdd="ngForm" (ngSubmit)="onSubmit(formAdd)">
        <div class="alert alert-success" *ngIf="res">
            !!El Mensaje Se Ha Enviado Con Exito!! Puedes <a [routerLink]="['/messages/sended']">verlo aquí</a>
        </div> 
        <div class="alert alert-danger" *ngIf="res==false">
            !!No se Ha podido enviar el Mensaje!!       
        </div>
        <p>
            <label>Para: </label>
            <!--Listado de Seguidores-->
            <select *ngIf="follows" name="receiver" #receiver="ngModel" [(ngModel)]="message.receiver" class="form-control" required>
                <option *ngFor="let follow of follows" value="{{follow.followed._id}}" >
                    {{follow.followed.name + ' ' + follow.followed.surname + '(' + follow.followed.nick +')'}}
                </option>
            </select>
        </p>
        <p>
            <label>Mensaje</label>
            <textarea name="text" #text="ngModel" [(ngModel)]="message.text" class="form-control" required></textarea>
            <span *ngIf="!text.valid && text.touched">¡¡El mensaje es requerido!!</span>
        </p>
        <input type="submit" value="Enviar" class="btn btn-success"/>
    </form>
</div>