<div class="col-lg-8">
  <h1 class="h1-strong">{{title}}</h1>
  <div id="data-profile">
    <div class="avatar-profile pull-left" *ngIf="user">
      <img src="{{url + 'get-image-user/' + user.image}}"  *ngIf="user.image">
      <img src="assets/user.png" class="avatar-default" *ngIf="!user.image">
    </div>
    <div class="user-name pull-left" *ngIf="user">
      <div class="label label-default pull-left" *ngIf="followed">
        Te sigue
      </div>
      <div class="clearfix"></div>
      <div class="pull-left">
      <p class="name">{{user.name + ' ' + user.surname}}</p>
      <p class="nick">{{user.nick}}</p>
      <p class="nick">{{user.profession}}</p>
      <p class="nick">{{user.email}}</p>
      <br>
      
      </div>
      <div class="clearfix"></div>

        <div class="follow pull-left"> 
      <button class="btn btn-success" *ngIf="!following && identity._id != user._id" (click)="followUser(user._id)">
        
        Seguir</button>


      <button class="btn btn-primary" *ngIf="following"
       (click)="unFollowUser(user._id)" 
       (mouseenter)="mouseEnter(user._id)" 
       (mouseleave)="mouseLeave()"
        [class.btn-danger]="user._id == followUserOver">
        <span *ngIf="user._id == followUserOver; else following">
        Dejar de seguir
        </span>
        <ng-template #following>Siguiendo</ng-template> 
      </button>

      
      <button  class="btn btn-success" style="margin-left: 5px" *ngIf="user && user._id != identity._id" (click)="mesajePara(user._id)">
        <span >
          Enviar Mensaje
        </span>
        <!--<ng-template *ngIf="user._id != identity._id" #following>Enviar Mensaje </ng-template> -->
      </button>

    </div>
  </div>
  <div class="stats pull-right" *ngIf="stats">
<div class="following-data">
  <a [routerLink]="[ '/following', user._id, 1 ]">
    <span class="label-stats">
      Siguiendo
    </span>
    <span class="number-stats">
      {{stats.following}}
    </span>
  </a>
</div>

<div class="following-data">
  <a  [routerLink]="[ '/followed', user._id, 1 ]">
    <span class="label-stats">
      Seguidores
    </span>
    <span class="number-stats">
      {{stats.followed}}
    </span>
  </a>
</div>

<div class="following-data">
  <p>
    <span class="label-stats">
      Publicaciones
    </span>
    <span class="number-stats">
      {{stats.publications}}
    </span>
  </p>
</div>
</div>
  
    
  </div>

  <div class="clearfix"></div>
  <div class="panel panel-default" *ngIf="user">
      <div class="panel-body">
      <div class="description-pro col-lg-12 pull-left"  ALIGN="justify">
         <p>Descripción Profesional</p>
          <div *ngIf="user.description != null">{{user.description}}</div>
          <div *ngIf="!user.description && user._id != identity._id">¡Este usuario no tiene un perfil profesional hasta el momento!</div>
          <div *ngIf="!user.description && user._id == identity._id">¡Hasta ahora no has agregado un perfil profesional!</div>
      </div>
    </div>
    </div>

  <div class="clearfix"></div>
  <div class="col-lg-12" *ngIf="user">
    <publications [userId]="user._id"></publications>
  </div>
</div>
<sidebar></sidebar>