<div class="col-lg-8" ><!-- [@fadeLateral]> Animacion lateral-->
  <h1 class="h1-strong" *ngIf="user && title">{{title}}{{user.name}}</h1>
  <div id="followed" *ngIf="follows">
    
    <div *ngFor="let follow of following" class="item-user">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="image-user pull-left">
            <a  [routerLink]="[ '/profile', follow.followed._id ]">
              <img src="{{url + 'get-image-user/' + follow.followed.image}}" class="avatar-exist" *ngIf="follow.followed.image">
              <img src="assets/user.png" class="avatar-default" *ngIf="!follow.followed.image">
            </a>
          </div>
          <div class="user-name pull-left">
            <p class="name-surname">
              <a  [routerLink]="[ '/profile', follow.followed._id ]">
                {{follow.followed.name + ' '+ follow.followed.surname}}
              </a>
 
            </p>
            <span class="nickname">{{follow.followed.nick}}</span>
          </div>
           
            <!--Botones para dejar de seguir o iniciar a seguir -->
          
          <div class="pull-right">
            
            <button class="btn btn-success" *ngIf="follows.indexOf(follow.followed._id) < 0  && follow.followed._id != identity._id"   (click)="followUser(follow.followed._id)">
              <span class="glyphicon glyphicon-plus-sign">
            </span>  Seguir</button>
            
            <button class="btn btn-primary" *ngIf="follows.indexOf(follow.followed._id) >= 0 && follow.followed._id != identity._id"
               (mouseenter)="mouseEnter(follow.followed._id)" 
               (mouseleave)="mouseLeave(follow.followed._id)" 
               (click)="unFollowUser(follow.followed._id)"
               [class.btn-danger] ="follow.followed._id == followUserOver"
               
               >
              <span *ngIf="follow.followed._id == followUserOver; else following">
                <span class="glyphicon glyphicon-minus-sign"></span>Dejar de seguir
              </span>
              <ng-template #following>
              <span class="glyphicon glyphicon-ok-sign"></span> Siguiendo
              </ng-template>
            </button>
          </div>
        </div>
      </div>
  </div>
  <div class="col-lg-8" class="message-default" *ngIf="res == false">
      <div class="panel panel-default">
        <div class="panel-body">
        <p class="parrafo-pub">¡¡Lo sentimos, hasta el momento no sigues a ningun usuario!!
          <br>
       Te invitamos a seguir a alguien
        <a [routerLink]="['/users']"> aquí</a></p>
      </div>
    </div>
    </div>
  
    <!--
      Paginacion
    -->
    <ul class="pagination pull-right">
      <li *ngIf="page > 1">
        <a [routerLink]="['/following', userPageId, previusPage]">Anterior</a>
      </li>
      <li *ngIf="pages != page">
        <a [routerLink]="['/following',userPageId, nextPage]">Siguiente</a>
      </li>
    </ul>
  </div>
  
 
</div>



<sidebar></sidebar>
<div class="clearfix"></div>