<div class="col-lg-8 col-lg-offset-2">
  <div class="jumbotron">
    <h1>{{title}}</h1>
    <span>¡¡Disfruta de tus amigos y comparte tus experiencias!!</span>
    <p>
      <a [routerLink]="['/time-line']" class="btn btn-success btn-lg" role="button">
        TimeLine
      </a>
      <a [routerLink]="['/users']" class="btn btn-primary btn-lg" role="button">
        Personas
      </a>
      <a *ngIf="identity" [routerLink]="['/profile', identity._id]" class="btn btn-default btn-lg" role="button">
        Mi perfil
      </a>
    </p>
  </div>
  <mat-checkbox>text</mat-checkbox>
  
<md-card>
    <md-card-content>
      <h2 class="example-h2">Checkbox configuration</h2>
  
      <section class="example-section">
        <md-checkbox class="example-margin" [(ngModel)]="checked">Checked</md-checkbox>
        <md-checkbox class="example-margin" [(ngModel)]="indeterminate">Indeterminate</md-checkbox>
      </section>
  
      <section class="example-section">
        <label class="example-margin">Align:</label>
        <md-radio-group [(ngModel)]="align">
          <md-radio-button class="example-margin" value="start">Start</md-radio-button>
          <md-radio-button class="example-margin" value="end">End</md-radio-button>
        </md-radio-group>
      </section>
  
      <section class="example-section">
        <md-checkbox class="example-margin" [(ngModel)]="disabled">Disabled</md-checkbox>
      </section>
    </md-card-content>
  </md-card>
  
  <md-card class="result">
    <md-card-content>
      <h2 class="example-h2">Result</h2>
  
      <section class="example-section">
        <md-checkbox
            class="example-margin"
            [checked]="checked"
            [indeterminate]="indeterminate"
            [align]="align"
            [disabled]="disabled">
          I'm a checkbox
        </md-checkbox>
      </section>
    </md-card-content>
  </md-card>
</div>