<div class="col-lg-8 col-lg-offset-2">
  <div class="jumbotron">
    <h1>{{title}}</h1>
    <span>¡¡Disfruta de tus amigos y comparte tus experiencias!!</span>
    <p>
      <a [routerLink]="['/time-line']" class="btn btn-success btn-lg" role="button">
        TimeLine
      </a>
      <a [routerLink]="['/users']" class="btn btn-primary btn-lg" role="button">
        Personas
      </a>
      <a *ngIf="identity" [routerLink]="['/profile', identity._id]" class="btn btn-default btn-lg" role="button">
        Mi perfil
      </a>
    </p>
  </div>
</div>