/* Generales*/
.h1-strong{
    font-size: 35px;
    font-weight: bold;
    margin-left: 13px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 15px;
}
/*  Editar el header */
.navigation{
    margin: 0px;
    padding: 0px !important;
}
.navigation .navbar{
    border-radius: 0px;
    background: #0079a1 !important;
    border:none;
    
}
.active{
    background: #023e52 !important;
}

.navigation .navbar a:hover{
    background: #023e52 !important;
}

.navigation .navbar *{
    color: whitesmoke;   
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand{
    color: #f3f1f1 !important;
}

/* Pagina Home*/
.jumbotron{
    padding: 25px;
   border-radius: 5px;
   text-align: center;
}
.jumbotron p a{
    margin-left: 10px;
    margin-top: 10px;
}

/* Memu de usuario logueado*/
.navigation .navbar .dropdown-menu *{
    color: black !important;
}
navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background: #023e52 !important;
}
.navigation .navbar .dropdown-menu a:hover{
    background: #eee !important;
}

/*Mostrar imagen de usuario*/
.avatar{
    width: 35px;
    height: 35px;
    border-radius: 700px;
    overflow: hidden;
    margin-top: 8px;
    margin-right: 3px;
    
}
.avatar img{
    height: 33px;
    width: 34px;
    border-radius: 700px
}

.image_for_edit img{
    width:95px; 
    height: 110px;
}

/*Imagenes de la sesion de people*/

.item-user .image-user,
.item-publication .image-user{
    width: 75px !important;;
    height: 75px !important;
    border-radius: 100px !important;
    overflow: hidden;
    margin-top: 8px;
    margin-right: 15px;
}

.item-publication .user-name{
    margin-top: 10px;
}
.avatar-exist{
    width: 150px !important;
}
.item-user .user-name{
    margin-top: 15px;   
}

.item-user .user-name .name-surname{
    font-weight: bold;
}

.item-user .user-name .nickname{
    color :#736c6c;
}
.avatar-default{
    width: 107% !important;
    border-radius: 50px !important;
}

/*Sidebar*/
#user-card{
    padding: 25px;
    width: 32%;

}
.sidebar-32{
    width: 32% !important;
    padding: 0px !important;
}
#user-card .sidebar-img{
    width: 75px !important;;
    height: 75px !important;
    border-radius: 100px !important;
    overflow: hidden;
    margin-top: 8px;
    margin-bottom: 10px;
    margin-right: 15px;
}

#user-card .sidebar-img img{
    width: 100%;
}

#user-card .name-surname{
    font-weight: 700;
    font-size: 18px;
}

#user-card .name-surname a{
    color :#736c6c;
}

#user-card .name-surname p{
    color :#736c6c;
}

#user-card .stats{
    border-top: 1px solid #eee;
    margin-top: 0.5%;
}

#user-card .label-stats,
#user-card .number-stats{
    display: block;
    text-align: center;
}

#user-card .number-stats{
    font-weight: bold !important;
    color: #0079a1 !important;
}

#user-card .stats a:hover .number-stats {
    text-decoration: none !important;
    cursor: pointer;
}   
#user-card .stats a span.label-stats {
    cursor: pointer;
}

#user-card a.username{
    cursor: pointer ;
}
#user-card .label-stats{
    font-weight: bold;
    color: #555;

}

#user-card .following-data{
    float: left;
    padding-right: 5%;
    padding-left: 7%;
    margin-top: 20px;
    border-right: 2px solid #555;
}
#user-card .following-data:last-child{
    border: none;
}


/*Panel de publicaciones*/
#new-publication{
    padding: 7px;
    width: 32% !important;
    
}
.people{
    height: 100vh;
}

/* Time Line*/
#publications-top{
    min-height: 500px !important; 
}


#publications .date{
    color: gray;
}   
.message-default .panel-default .parrafo-pub{
    font-size: 24px;
    color: #6d5c5ccc;
    text-align: center;
}


/*Animacion

.loading {
    background: url('../img/ico_loading.gif') no-repeat center center; /*Esta parte hará la función de cargador mientras aparece el contenido
}
section {
    opacity: 0; El valor inicial de la opacidad del contenedor es 0, por medio de javascript haremos que aparezca al asignarle la clase .loaded_section
    -webkit-transition:opacity .6s;
    -moz-transition:opacity .6s;
    -o-transition:opacity .6s;
    transition: opacity .6s;
}
.loaded section {
    opacity: 1;
}


///Animacion para ampliar la imagen cuando se le haga un over.
}
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 0.35s ease 0s;
    transition: opacity 0.35s ease 0s;
}

 */


 /*Perfil de usuario*/
 /* Time Line*/
#data-profile{
    min-height: 300px; 
    text-align: left;
}

#data-profile .avatar-profile{
    overflow: hidden;
    margin-right: 15px;
    margin: 0px auto;
}

#data-profile .avatar-profile img{
    width: 100%;
    border-radius: 900px !important;
    width: 250px !important;;
    height: 250px !important;
    
}
#data-profile .user-name{
    margin-top: 40px;
    margin-left: 10px;
}
#data-profile .user-name .name{
    font-size: 22px;
    font-weight: bold;
    color: #555;
}
#data-profile .user-name .nick{
    font-size: 24px;
    font-weight: normal;
    color: gray;
}
#data-profile .stats{
    border-left: 4px solid #ccc;
    margin-left: 35px;
    padding-left: 25px;
    height: 200px;
}
#data-profile .stats a{
    font-size: 20px;
    line-height: 50px;
    color: #555;
}

#data-profile .stats p{
    font-size: 20px;
    line-height: 50px;
    color: #555;
}

.imagen-publicacion {
    text-align: center;
}
.imagen-publicacion img{
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 300px;    
}


#followed {
    min-height: 500px;
 
}

.description-pro{
    font-size: 18px;
    line-height: 20px;
}

#register p span{
    padding: 3px;
    background: red;
    color: white;
    font-size: 14px;
}

.notificacion{
    background: red !important;
    color: white !important;
}
.notificacion span{
    background: red !important;
    color: white !important;
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

}