<div class="navigation col-lg-12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand">{{title}}</a>
      </div>

      <ul class="nav navbar-nav" *ngIf="identity">
        <li>
          <a [routerLink]="['/home']" [routerLinkActive]="['active']" >
            <span class="glyphicon glyphicon-home"></span>
            Inicio
          </a>
        </li>
        <li>
          <a [routerLink]="['/time-line']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-th-list" ></span>
            TimeLine
          </a>
        </li>
        <li>
          <a [routerLink]="['/users']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-user" ></span>
            People
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="!identity">
          <li>
            <a [routerLink]="['/register']" [routerLinkActive]="['active']">
              <span class="glyphicon glyphicon-user"></span>
              Registro
            </a>
          </li>
          <li>
            <a [routerLink]="['/login']" [routerLinkActive]="['active']">
              <span class="glyphicon glyphicon-log-in"></span>
              Login
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" *ngIf="identity">
          <li class="avatar">

          </li>
          <li class="avatar" *ngIf="identity.image">
            <img src="{{url + 'get-image-user/' + identity.image}}">      
           </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="">
              {{identity.name}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a  [routerLink]="[ '/profile', identity._id ]">
                  <span class="glyphicon glyphicon-user"></span>
                  Mi Perfil
                </a>
              </li>
              <li>
                  <a [routerLink]="['/user-edit']">
                      <span class="glyphicon glyphicon-cog"></span>
                    Act. Mis Datos
                  </a>
                </li>
                <li>
                    <a [routerLink]="['/']" (click)="logOut()">
                        <span class="glyphicon glyphicon-log-out" ></span>
                      Cerrar Sesion
                    </a>
                  </li>
            </ul>
          </li>
        </ul>
    </div>
  </nav>
</div>

<div class="col-llg-11">
    <router-outlet></router-outlet>
</div>
