<div class="col-lg-4 sidebar-32">
  <h1 class="h1-strong">Hola, {{identity.name}}</h1>
</div>
<div id="user-card" class="col-lg-4 panel panel-default pull-left">
  <div class="sidebar-img pull-left">
    <a [routerLink]="[ '/profile', identity._id ]">
      <img src="{{url + 'get-image-user/' + identity.image}}" class="avatar-exist" *ngIf="identity.image">
      <img src="assets/user.png" class="avatar-default" *ngIf="!identity.image">
    </a>
  </div>
  <div class="name-surname">
    <a  [routerLink]="[ '/profile', identity._id ]" class="username">
      {{identity.name + ' '+ identity .surname}}
    </a>
    <p class="nickname">{{identity.nick}}</p>
    <div class="clearfix"></div>
  </div>

  <div class="clearfix"></div>

  <div class="stats" *ngIf="stats">
    <div class="following-data">
      <a [routerLink]="[ '/following', identity._id, 1 ]">
        <span class="label-stats">
          Siguiendo
        </span>
        <span class="number-stats">
          {{stats.following}}
        </span>
      </a>
    </div>

    <div class="following-data">
      <a  [routerLink]="[ '/followed', identity._id, 1 ]">
        <span class="label-stats">
          Seguidores
        </span>
        <span class="number-stats">
          {{stats.followed}}
        </span>
      </a>
    </div>

    <div class="following-data">
      <a>
        <span class="label-stats">
          Publicaciones
        </span>
        <span class="number-stats">
          {{stats.publications}}
        </span>
      </a>
    </div>
  </div>
</div>

<div id="new-publication" class="col-lg-4 pull-left panel panel-default">
    <div class="alert alert-success" *ngIf="res">
        !!La publicacion se ha realizado con exito!!
      </div>
      <div class="alert alert-danger" *ngIf="res==false">
        !!Error, no se ha podido publicar!!
      </div>
<form action="" #newPubForm="ngForm" (ngSubmit)="onSubmit(newPubForm, $event)" class="col-lg-10">
  <p>
    <label>¿En que estas pensando?</label>
    <textarea name="text" id="text" #text="ngModel" [(ngModel)]="publication.text" class="form-control" required></textarea>
    <span *ngIf="!text.valid && text.touched">
      !El texto de la publicacion es obligatorio!
    </span>
  </p>
  <p>
    <label>Sube tu imagen</label>
    <input type="file" placeholder="Subir Imagen" name="" (change)="fileChangeEvent($event)" accept="image/png, image/jpeg" id="">
  </p>
  <input type="submit" value="Publicar" class="btn btn-success" [disabled]="!newPubForm.form.valid">
</form>
</div>
